$jade: #80c8b8;
$jade-oscuro:#59BDA7;
$rosado: #F45A79;
$rosado-oscuro: #DA4C68;

html, body{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-weight: 900;
}

header {          
    #header-sroll {
    position:fixed;
    height: 75px;
    background: $jade;
    left:0;
    top:0;
    float:left;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
    z-index: 1000000000;
    padding-top: 1%;

        .navbar-default{
            background-color: transparent;
            border-color: transparent;

            .navbar-toggle {
                border-color: transparent;

                .icon-bar {
                    background-color: #fff;
                }
            }

            .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
                background-color: $jade-oscuro;
            }
        }

        .navbar{
            margin-top: 0%;            
        }

        a{
            color: white;
            text-decoration: none;
            font-size: 1.5em;
        }

        a:hover{
            color: $rosado-oscuro;
            text-decoration: none;
        }

        &.small{
            height: 55px;
            background-color: rgba(128, 200, 184, 0.8);   
            padding-top: 0.4%;     
        }  
    }
}


.hero-image{
    height: 100%;
    background: url("../img/fondoInicio.png") repeat;
    padding-top: 150px;
    padding-bottom: 70px;

        .circle{
            height: 150px;
            width: 150px;
            background-color: $rosado;
            margin: auto;
            border-radius: 50%;

            img{
                height: 100%;
                border-radius: 50%;
            }
        }
    
        h1{
            color: $rosado;
            font-family: 'Pacifico', cursive;
        }

        h2{
            color: $rosado-oscuro;
        }

        .btn-default{
            background-color: $jade;
            border: none;
            margin-top: 3%;
            font-size: 1.3em;
            color: white;
        }

        .btn-default:hover{
            background-color: $jade-oscuro;
            border: none;
        }

        .social-media{           
            position: absolute;
            right: 15px;
            top: 30%;

            img{
                display: block;
                padding: 5px;
            }
        }

        .social-media-xs{            
            img{
                display: inline-block;
                padding: 5px 3px;
                height: 10%;
            }
        }
}

.about-me{
    background-color: #fff;
    padding: 100px 0%;
    img{
        width: 100%;
    }

    .lg{
        font-size: 2em;
        color: $rosado-oscuro;
    }
    .md{
        font-size: 1.6em;        
    }

    span{
        &:nth-child(2){
            color: $jade-oscuro;
        }
        &:nth-child(3){
            color: $rosado;
        }
        &:nth-child(4){
            color: $rosado-oscuro;
        }
    }

    h6,cite{
        color: #6E6E6E;
    }
}

.skill{
    background-color: #eee;
    padding: 100px 0px;
    

    .data-logo-loader{
       display: table;
       margin: 35px auto
    }
    .data-logo-loader hr:first-child
    {
        display: block;
        margin: auto;
        width: 746px; 
        height: 534px;      
        background-image: url("../img/silueta.png");
        background-repeat: no-repeat;
        border: none;        
        opacity: 0.5
    }

    .data-logo-loader hr:last-child
    {
        transition: width 1s;        
        position: absolute;
        display: block;
        margin: auto;
        width: 0; 
        height: 534px;      
        transform: translateY(-100%);      
        background-image: url("../img/silueta.png");
        background-repeat: no-repeat;
        border: none
    }

    .data-logo-loader:hover hr:last-child {
        width: 746px
    }
}

.portfolio{
    background-color: #fff;
    padding: 100px 0px;

    img{
        width: 100%;
        }
    .relative{
          display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
    }
    .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url("../img/portafolio/E-Comunidad.png");
        background-size:cover;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }

    .caption:hover {
        opacity: 1;
    }

}

.contact{
    background: url("../img/fondoFinal.png") repeat;
    padding: 100px 1px;

    .form-control{
        background-color: transparent;
        border-left:none;
        border-top:none;
        border-right: none;
        box-shadow: none;
        font-size: 1em;
        text-align: center;
        height: 27px;
    }

    .form-control:nth-child(1){
        width: 300px;
        display: inline-block;
    }
    .form-control:nth-child(2){
        width: 120px;
        display: inline-block;
    }
    .form-control:nth-child(3){
        width: 300px;
        display: inline-block;
    }

    .btn-default{
        background-color: $rosado;
        border: none;
        margin-top: 3%;
        font-size: 1.3em;
        color: white;
    }

    .btn-default:hover{
        background-color: $rosado-oscuro;
        color: white;
        
    }
}

.vertical-centered-text {
    -ms-display: flex;
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center; 
}

.pd-0{
    padding: 0px;
}

.pt-2{
    padding-top: 2%;
}

.pd-5{
    padding: 5%;
}

.pr-7{
    padding-right: 7%;
}

.mg-0{
    margin: 0px;
}

p{
    font-size: 1.3em;
}

@media screen and (min-width: 361px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: transparent;
    }
    .contact{
        padding-left: 25%;
        padding-right: 25%;
    }
    
}
@media screen and (max-width: 360px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: $jade;
    }
    *{
        font-size: 12px;
    }
}

p{
    font-size: 1.3em;
}

h1{
    font-size: 2.2em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.7em;
}

h4{
    font-size: 1.5em;
}

h5{
    font-size: 1.3em;
}

h6{
    font-size: 1.1em;
}
