$jade: #80c8b8;
$jade-oscuro:#59BDA7;
$rosado: #A63D52;
$rosado-claro: #DA4C68;

html, body{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-weight: 900;
}

.navbar-default .navbar-brand {
    color: $rosado;
}

.navbar-default .navbar-brand:hover {
    color: $rosado-claro;
}
.navbar-default .navbar-nav>li>a{
    color: $rosado;   
}

.navbar-default .navbar-nav>li>a:hover{
    color: $rosado-claro;   
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: $rosado;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
}

.hero-image{
    height: 100%;
    background: url("../img/fondoInicio4.png") repeat;
    background-position: fixed;
    padding-top: 150px;
    padding-bottom: 70px;

        .circle{
            height: 150px;
            width: 150px;
            background-color: $rosado-claro;
            margin: auto;
            border-radius: 50%;

            img{
                height: 100%;
                border-radius: 50%;
            }
        }
    
        h1{
            color: $rosado;
            font-family: 'Pacifico', cursive;
        }

        h2{
            color: $rosado-claro;
        }

        .btn-default{
            background-color: $jade-oscuro;
            border: none;
            margin-top: 1.5%;
            font-size: 1.3em;
            color: white;
        }

        .btn-default:hover{
            background-color: $jade;
            border: none;
        }

        .social-media{           
            position: absolute;
            right: 15px;
            top: 30%;

            img{
                display: block;
                padding: 5px;
            }
        }

        .social-media-xs{            
            img{
                display: inline-block;
                padding: 5px 3px;
                height: 10%;
            }
        }
}

.about-me{
    background-color: #fff;
    img{
        width: 100%;
    }

    .lg{
        font-size: 2em;
        color: $rosado-claro;
    }
    .md{
        font-size: 1.6em;        
    }

    h6,cite{
        color: #6E6E6E;
    }
}

.skill{
    background-color: #eee;
    

    h2{
        padding-bottom: 5%;
    }
}   


.portfolio{
    background-color: #fff;
    
    img{
        width: 100%;
        border: 1px solid $jade-oscuro;
        }
    .relative{
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
    }
    .caption{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        border: 1px solid $jade;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }

    .E-Com{
        background: url("../img/portafolio/E-Comunidad.png");
        background-size:cover;
    }
    
    .Escuela{
        background: url("../img/portafolio/EscuelaDeDanza.png");
        background-size:cover;
    }

    .Free{
        background: url("../img/portafolio/Freelancer.png");
        background-size:cover;
    }

    .Flat{

        background: url("../img/portafolio/Flat-theme.png");
        background-size:cover;
    }
    
    .Primes{
        background: url("../img/portafolio/Primes.png");
        background-size:cover;
    }

    .Dashy{
        background: url("../img/portafolio/Dashy.png");
        background-size:cover;
    }

    .caption:hover {
        opacity: 1;
    }

}

.contact{
    background: url("../img/fondoFinal2.png") repeat;
    background-attachment: fixed;
    color: #fff;

    .form-control{
        background-color: transparent;
        border-left:none;
        border-top:none;
        border-right: none;
        box-shadow: none;
        font-size: 1em;
        text-align: center;
        height: 27px;
        color: #fff;
    }

    .form-control:nth-child(1){
        width: 300px;
        display: inline-block;
    }
    .form-control:nth-child(2){
        width: 120px;
        display: inline-block;
    }
    .form-control:nth-child(3){
        width: 300px;
        display: inline-block;
    }

    .btn-default{
        background-color: $rosado;
        border: none;
        margin-top: 3%;
        font-size: 1.3em;
        color: white;
    }

    .btn-default:hover{
        background-color: $rosado-claro;
        color: white;
        
    }
}

.vertical-centered-text {
    -ms-display: flex;
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center; 
}

.pd-0{
    padding: 0px;
}

.pt-2{
    padding-top: 2%;
}

.pd-5{
    padding: 5%;
}

.pr-12{
    padding-right: 12%;
}

.pl-10{
    padding-left: 10%;
}

.pr-7{
    padding-right: 7%;
}

.mg-0{
    margin: 0px;
}

.mt-2{
    margin-top: 2%;
}

p{
    font-size: 1.3em;
}

@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    .contact{
        padding: 10% 25%;
    }
    .about-me, .skill{
        height: 100%;
        padding: 8% 0%;

    }   

    .portfolio{
        padding: 8% 0%;
    }

    .portfolio h2{
        padding-bottom: 4%;
    }
    
}

@media screen and (max-width: 1199px) {
    .contact{
        padding: 10% 5%;
    }

    .about-me, .portfolio , .skill{
    padding: 10% 0%;
    }
}

@media screen and (max-width: 768px) {
    .hero-image .circle{
            height: 100px;
            width: 100px;
    }

    .hero-image h1 , .hero-image h2{
        font-size: 22px;
    }
}

p{
    font-size: 1.3em;
}

h1{
    font-size: 2.2em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.7em;
}

h4{
    font-size: 1.5em;
}

h5{
    font-size: 1.3em;
}

h6{
    font-size: 1.1em;
}
