$jade: #80c8b8;
$jade-oscuro:#59BDA7;
$rosado: #F45A79;
$rosado-oscuro: #DA4C68;

html, body{
    height: 100%;
}

header {
    z-index: 1000;
      
    #header-sroll {
    position:fixed;
    height: 100px;
    background: $jade;
    left:0;
    top:0;
    float:left;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;

        h1 {
        font-size: 30px;
        font-family: Arial;
        text-align: center;
        line-height: 50px;
         -ms-transition:     all 0.3s ease-out;
        -moz-transition:    all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition:      all 0.3s ease-out;
        transition:         all 0.3s ease-out;
        }

        &.small {
            height: 70px;
            line-height: 35px;
            background-color: rgba(128, 200, 184, 0.8);        
            
            h1{
                height: 70px;
                line-height: 35px;
                font-size: 25px;
            }
        }  
    }
}


.hero-image{
    height: 100%;
    background: url("../img/fondoInicio.png") repeat;
    padding-top: 150px;
    padding-bottom: 70px;

        .circle{
            height: 150px;
            width: 150px;
            background-color: $rosado;
            margin: auto;
            border-radius: 50%;
        }
    
        h1{
            color: $rosado;
        }

        h2{
            color: $rosado-oscuro;
            font-weight: 900;
        }

        .btn-default{
            background-color: $jade;
            border: none;
            margin-top: 30px;
        }

        .btn-default:hover{
            background-color: $jade-oscuro;
            border: none;
        }

        .social-media{            
            position: absolute;
            right: 10px;
            top: 30%;

            img{
                display: block;
                padding: 5px;
            }
        }
}

.about-me{
    height: 100%;
    background-color: #fff;
    padding: 100px 0px;
}

.skill{
    height: 100%;
    background-color: #eee;
    padding: 100px 0px;

    img{
        height: 200px;
    }
}

.contact{
    height: 100%;
    background: url("../img/fondoFinal.png") repeat;
    padding: 100px 0px;
}