.wraper{
	width:100%;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

/* Skills Style 1 */

.skillst1{
	width:100%;
	color:#fff;
}
.skillst1 .skillbar{
	width: 100%;
	height: 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #59BDA7;
	position:relative;
	margin-bottom:30px;
}
.skillst1 .count-bar{
	position:absolute;
	background-color: #1f8269;
	height:10px;
	left:0;
	bottom:0;
}
.skillst1 .title{
	font-size:15px;
	font-weight:900;
	padding-left:12px;
	line-height:40px;
	text-transform:uppercase;
}
.skillst1 .count{
	width:100%;
	height:100%;
	position:relative;
}
.skillst1 .count span{
	position:absolute;
	right:-30px;
	top:-40px;
	font-size:20px;
	font-weight:700;
	line-height:40px;
}



/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {
	
}
